<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.itwill.productoption.mapper.ProductOptionMapper">

	<insert id="insertProductOption"
		parameterType="com.itwill.productoption.ProductOption">

		<selectKey resultType="Integer"
			keyProperty="productOptionNo" order="BEFORE">
			select
			productOption_no_seq.nextval from dual
		</selectKey>
		insert into productOption values( #{productOptionNo},
		#{productOptionName},#{productOptionPrice},
		#{productNo})
	</insert>

	<select id="selectByAll"
		resultType="com.itwill.productoption.ProductOption">
		select * from
		productOption
	</select>


	<select id="selectByOne"
		resultType="com.itwill.productoption.ProductOption"
		parameterType="java.lang.Integer">
		select * from productOption where productOptionNo =
		#{productOptionNo}
	</select>

	<update id="updateProductOption"
		parameterType="com.itwill.productoption.ProductOption">
		update
		productOption set
		#{productOptionName},#{productOptionPrice},
		#{productNo}
		where
		productOptionNo=#{productOptionNo}
	</update>


	<delete id="deleteProductOption" parameterType="Integer">
		delete from
		productOption
		where productOptionNo=#{productOptionNo}
	</delete>


<select id="selectOptionList"
		resultType="com.itwill.product.Product"
		parameterType="java.lang.Integer">
		select
		*
		from productOption q
		inner join product p
		on p.productNo=q.productNo
		where q.productNo=#{productNo}
	</select>



</mapper>